.*
__pycache__/
*.pyc
params/*
prompts/*
petition/*
completions/*
datafiles/vectorsearch/*
datafiles/vectorsearchparams/*
samples*/*

# ignore the log files when generated
*.log
__pycache__

# don't ignore the .gitignore or the env template
!.gitignore
!.env.template

# don't ignore our samples
!params/Example*.*
!prompts/Example*.*
!petition/Example*.*
!datafiles/**/Example*.*
