.*
__pycache__/
*.pyc
datafiles/plunkylib/*/*.*
samples*/*

# ignore the log files when generated
*.log
__pycache__

# don't ignore the .gitignore or the env template
!.gitignore
!.env.template

# don't ignore our samples
!**/Example*.*

# we don't want completions even if they are samples
datafiles/plunkylib/completions/**
